body {
    background-color: #dfdbdb;
    font-family: Arial, sans-serif;

}
.container {
    max-width: 70%;
    margin:auto;
    margin-top: 20%;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 1%;
}

ul {
    padding-left: 0;
}

li {
    list-style:none;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-container {
    margin-bottom: 5%;
    background-color: rgba(122, 188, 166, 0.256);
    padding: 10px;
    border-radius: 10px;
}

.sub-item li {
    list-style: circle;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:active {
    color: black;
}

a:hover,
a:focus {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px 5px;
}
