body {
    background-color: #f2f2f23b;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 75vw;
    padding: 50px 0;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
}
h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

p {
    font-size: 1rem;
    margin-top: 1rem;
}

hr {
    border: 1px solid black;
    width: 90%;
    margin: 1.5rem auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 2%;
}

section {
    width: 40%;
    padding: 0 1rem;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.5rem;
}